:root {
	/*Variable de colores para la hoja*/
	--sheet-backcolor: #ffffff;
	--tittle-backcolor: #2f303a;
	--our-team: #f5f4fa;

	/*Variable de colores para el texto*/
	--logo-color: #2196f3;
	--tittle-color: #ffffff;
	--contact-color: rgba(255, 255, 255, 0.6);
	--text-color: #757575;
	--black-color: #212121;
	--card-team-color: #ffffff;
	--border-header: #ececec;
	--border-icon-customer: #afb1b8;
	--background-icon-footer: #ffffff1a;

	/*Variables de interlineado line-height(multiplicador)=line-height (px)/font-size (px)*/
	--multi-31-26: 1.2;
	--multi-16-14: 1.1;
	--multi-60-44: 1.4;
	--multi-30-16: 1.9;
	--multi-24-14: 1.7;
	--multi-42-36: 1.2;
	--multi-19-16: 1.2;
	--multi-26-16: 1.6;
	--multi-36-18: 2;
}

/* clases body*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

ul {
	list-style: none;
}

address {
	font-style: normal;
}

body {
	font-family: 'Roboto', 'Raleway', sans-serif;
	font-weight: 700;
	background-color: var(--sheet-backcolor);
	color: var(--text-color);
	font-size: 14px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* clases header */
header {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border-header);
}

a.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: var(--logo-color);
	font-size: 26px;
	line-height: var(--multi-31-26);
}

.nav-menu a.logo {
	padding-top: 24px;
	padding-bottom: 25px;
}

div.container.header {
	display: flex;
	flex-direction: row;
}

nav.nav-menu {
	color: var(--black-color);
	line-height: var(--multi-16-14);
	display: flex;
	flex-direction: row;
}

ul.list-menu,
ul.contact-header {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	gap: 50px;
}

ul.list-menu {
	margin-left: 93px;
}

ul.list-menu li a.header-menu.active,
ul.list-menu li a.header-menu:hover,
ul.list-menu li a.header-menu:active {
	color: var(--logo-color);
}

ul.contact-header {
	margin-left: 306px;
	align-items: center;
}

ul.list-icon-messenger,
ul.list-icon-phone {
	display: flex;
	gap: 10px;
	stroke-width: 0;
	stroke: currentColor;
	color: var(--text-color);
	fill: currentColor;
}

ul.list-icon-messenger svg {
	display: inline-block;
	width: 16px;
	height: 12px;
}

ul.list-icon-messenger:hover {
	--color5: var(--logo-color);
}

ul.list-icon-messenger:hover a {
	color: var(--logo-color);
}

ul.list-icon-phone svg {
	display: inline-block;
	width: 10px;
	height: 16px;
}

ul.list-icon-phone:hover {
	--color5: var(--logo-color);
}

ul.list-icon-phone:hover a {
	color: var(--logo-color);
}

.contact-header .header-menu {
	color: var(--text-color);
	line-height: var(--multi-16-14);
}

/* clases titulo */
section.titulo {
	background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(/images/header-background-image.jpg), url(/images/header-background-image.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--tittle-backcolor);
}

section.titulo.section {
	padding-top: 200px;
	padding-bottom: 200px;
}

.titulo h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 44px;
	color: var(--tittle-color);
	line-height: var(--multi-60-44);
}

div.container.tittle {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}

.request-our-service {
	background-color: #2196f3;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: var(--multi-30-16);
	cursor: pointer;
	padding: 10px 32px;
	border-radius: 4px;
	border-color: #2196f3;
	border: none;
}

.request-our-service:hover,
.request-our-service:focus {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

/* clases valores */

.valours-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.valours-list li {
	flex-basis: calc((100% - 90px) / 4);
}

li.li-valours-list {
	padding: 25px 100px;
	background-color: var(--our-team);
	border-radius: 4px;
}

svg.valours-icon-list {
	display: inline-block;
	width: 70px;
	height: 70px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.valores h3 {
	color: var(--black-color);
	line-height: var(--multi-16-14);
}

.valores p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: var(--multi-24-14);
	margin-top: 10px;
}

/* clases mision */

section.mision.section {
	padding-top: 0px;
}

.mision h2 {
	color: var(--black-color);
	font-size: 36px;
	line-height: var(--multi-42-36);
	text-align: center;
}

.container .mision-list {
	display: flex;
	margin-top: 55px;
	justify-content: space-between;
}

/* clases team*/

.equipo {
	background-color: var(--our-team);
}

.equipo h2 {
	color: var(--black-color);
	font-size: 36px;
	line-height: var(--multi-42-36);
	text-align: center;
	margin-bottom: 50px;
}

.list-team {
	display: flex;
	justify-content: space-between;
}

div.card-team {
	background-color: var(--card-team-color);
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

div.card-team img {
	display: block;
}

div.info-card-team {
	padding: 30px 44px;
}

h3.collaborator-name {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: var(--multi-19-16);
	color: var(--black-color);
}

p.collaborator-profession {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: var(--multi-19-16);
	margin-top: 10px;
	margin-bottom: 16px;
}

ul.icon-info-card-team {
	display: flex;
}

svg.svg-icon-info-card-team {
	width: 44px;
	height: 44px;
	fill: var(--card-team-color);
}

svg.svg-icon-info-card-team:hover use {
	--color3: var(--card-team-color);
	--color4: var(--logo-color);
}

section.customers.section {
	padding-top: 59px;
	padding-bottom: 151px;
}

section.customers.section h2 {
	font-weight: 700;
	color: var(--black-color);
	font-size: 36px;
	line-height: var(--multi-42-36);
	text-align: center;
	margin-bottom: 44px;
}

ul.icon-customers-section {
	display: flex;
	justify-content: space-between;
}

ul.icon-customers-section li {
	padding: 14px 32px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-icon-customer);
	border-radius: 4px;
}

svg.svg-icon-customers-section {
	display: inline-block;
	width: 106px;
	height: 53px;
	stroke-width: 0;
	stroke: currentColor;
	color: var(--border-icon-customer);
	fill: currentColor;
}

.hover-icon-customers-section:hover {
	border-color: var(--logo-color);
}

.hover-icon-customers-section:hover svg {
	--color3: var(--logo-color);
}

/* Main portfolio */

section.section.portfolio {
	padding-top: 106px;
}

.container .filters {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.button-filters {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: var(--black-color);
	background-color: var(--our-team);
	line-height: var(--multi-26-16);
	padding: 6px 24px;
	border-radius: 4px;
	border: none;
}

.button-filters:hover,
.button-filters:focus {
	background-color: #2196f3;
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container .projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
}

.projects-card {
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
}

.projects-card:hover,
.projects-card:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

li.projects-card img {
	display: block;
}

div.info-card {
	padding: 20px 24px;
	max-width: 370px;
}

h3.project-tittle {
	font-size: 18px;
	color: var(--black-color);
	line-height: var(--multi-36-18);
}

.project-filter {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: var(--multi-30-16);
	margin-top: 4px;
}

/* CLASES FOOTER */

footer {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: var(--tittle-backcolor);
	color: var(--tittle-color);
	line-height: var(--multi-24-14);
}

footer div.container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact-footer {
	color: var(--contact-color);
}

.contact-footer:hover,
.contact-footer:focus {
	color: #2196f3;
}

ul.list-footer {
	display: flex;
	gap: 70px;
}

li.footer-social-networks h3 {
	margin-bottom: 20px;
}

ul.icon-list {
	display: flex;
	gap: 10px;
}

div.footer-icon svg {
	display: inline-block;
	width: 44px;
	height: 44px;
}

svg.svg-footer-icon use {
	--color3: var(--card-team-color);
	--color4: rgba(255, 255, 255, 0.1);
}

svg.svg-footer-icon:hover use {
	--color3: var(--card-team-color);
	--color4: var(--logo-color);
}
