:root {
	/*Variable de colores para la hoja*/
	--sheet-backcolor: #ffffff;
	--tittle-backcolor: #2f303a;
	--our-team: #f5f4fa;

	/*Variable de colores para el texto*/
	--logo-color: #2196f3;
	--button-send: #188ce8;
	--tittle-color: #ffffff;
	--contact-color: rgba(255, 255, 255, 0.6);
	--text-color: #757575;
	--black-color: #212121;
	--card-team-color: #ffffff;
	--border-header: #ececec;
	--border-icon-customer: #afb1b8;
	--background-icon-footer: #ffffff1a;
	--backdrop: rgba(0, 0, 0, 0.2);

	/*Variables de interlineado line-height(multiplicador)=line-height (px)/font-size (px)*/
	--multi-31-26: 1.2;
	--multi-16-14: 1.1;
	--multi-60-44: 1.4;
	--multi-30-16: 1.9;
	--multi-24-14: 1.7;
	--multi-42-36: 1.2;
	--multi-19-16: 1.2;
	--multi-26-16: 1.6;
	--multi-36-18: 2;
	--multi-28-18: 1.5;
	--multi-20-16: 1.2;
	--multi-23-20: 1.1;
	--multi-14-12: 1.1;
}

/* clases body*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--black-color);
}

ul {
	list-style: none;
}

address {
	font-style: normal;
}

body {
	font-family: 'Roboto', 'Raleway', sans-serif;
	font-weight: 700;
	background-color: var(--sheet-backcolor);
	color: var(--text-color);
	font-size: 14px;
}

header {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border-header);
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.container--header {
	display: flex;
	flex-direction: row;
}

.nav-menu {
	color: var(--black-color);
	line-height: var(--multi-16-14);
	display: flex;
	flex-direction: row;
}

.link-logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: var(--logo-color);
	font-size: 26px;
	line-height: var(--multi-31-26);

	padding-top: 24px;
	padding-bottom: 25px;
}

.underlined:hover::after {
	content: '';
	display: block;
	outline: 1px solid var(--logo-color);
}
button.underlined:hover::after {
	text-decoration: underline;
	outline: 1px solid var(--logo-color);
}
.p-underlined:hover {
	content: '';
	display: block;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-style: solid;
	text-decoration-color: var(--logo-color);
}

.header-list {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	gap: 50px;
	margin-left: 306px;
	align-items: center;
}
.header-list--menu {
	margin-left: 93px;
}
.header-list-contact {
	display: flex;
	gap: 10px;
	stroke-width: 0;
	stroke: currentColor;
	color: var(--text-color);
	fill: currentColor;
}
.header-list-contact:hover,
.header-list-contact:focus {
	--color5: var(--logo-color);
}
.header-list-contact--messenger {
	width: 16px;
	height: 12px;
}
.header-list-contact--phone {
	width: 10px;
	height: 16px;
}
.header-list-contact__link:hover,
.header-list-contact__link:focus {
	color: var(--logo-color);
}
.header-list-contact__link {
	color: var(--text-color);
	line-height: var(--multi-16-14);
}
.header-list__link--active,
.header-list__link:hover,
.header-list__link:focus,
.header-list__link:active {
	color: var(--logo-color);
}
.header-list__link--active {
	position: relative;
}
.header-list__link--active::after {
	content: '';
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--logo-color);
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-backdrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--backdrop);
	top: 0;
	left: 0;
	opacity: 1;
	visibility: visible;
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 2;
}
.section-backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.section-backdrop__modal-form {
	width: 528px;
	height: 581px;
	background-color: var(--sheet-backcolor);
	transform: translateY(0vh);
	opacity: 1;
	transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
}
.section-backdrop.is-hidden .section-backdrop__modal-form {
	transform: translateY(100vh);
	opacity: 0.5;
}
.section-backdrop__button {
	position: absolute;
	top: 8px;
	right: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	background-color: var(--sheet-backcolor);
	overflow: hidden;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.section-backdrop__icon {
	width: 18px;
	height: 18px;
}
.section-backdrop__icon:hover .section-backdrop__icon-close,
.section-backdrop__icon:focus .section-backdrop__icon-close {
	fill: var(--logo-color);
}
.section-backdrop__tittle-form {
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 2px;
	padding-left: 40px;

	font-size: 20px;
	line-height: var(--multi-23-20);
	text-align: center;
	color: var(--black-color);
}
.section-design-form {
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}
.section-design-form__item {
	position: relative;
}
.section-design-form__label {
	display: block;
	font-size: 12px;
	line-height: var(--multi-14-12);
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 4px;
}
.section-design-form__icon {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 12px;
	top: 29px;
}
.section-design-form__container:hover .section-design-form__icon,
.section-design-form__container:focus .section-design-form__icon {
	fill: var(--logo-color);
}
.section-design-form__input {
	height: 40px;
	width: 100%;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
}
.section-design-form__container:hover .section-design-form__input,
.section-design-form__container:focus .section-design-form__input {
	border: 1px solid var(--logo-color);
}
.section-design-form__label-area {
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-bottom: 20px;
}
.section-design-form__label-area::placeholder {
	padding-top: 12px;
	padding-left: 16px;
}
.section-design-form__label-area:hover {
	border: 1px solid var(--logo-color);
}
.section-design-form__check {
	width: 16px;
	height: 15px;
	margin-right: 8px;
}
.section-design-form__label--condiciones {
	font-weight: 400;
	font-size: 14px;
	line-height: var(--multi-24-14);
}
.section-design-form li:last-child {
	display: flex;
	justify-content: center;
}
.section-design-form__button {
	padding-top: 10px;
	padding-right: 75px;
	padding-bottom: 10px;
	padding-left: 75px;
	background-color: var(--logo-color);
	color: var(--tittle-color);
	border-style: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: var(--multi-30-16);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.section-design-form__button:hover,
.section-design-form__button:focus {
	background-color: var(--button-send);
	color: var(--tittle-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.tittle-section {
	background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/headerBackgroundImage.jpg), url(../images/headerBackgroundImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--tittle-backcolor);
	padding-top: 200px;
	padding-bottom: 200px;
}
.tittle-section__container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
}
.tittle-section__tittle {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 44px;
	color: var(--tittle-color);
	line-height: var(--multi-60-44);
}
.tittle-section__button {
	background-color: var(--logo-color);
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: var(--multi-30-16);
	cursor: pointer;
	padding: 10px 32px;
	border-radius: 4px;
	border-color: var(--logo-color);
	border: none;
}
.tittle-section__button:hover,
.tittle-section__button:focus {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

.section-valours__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.section-valours__item {
	flex-basis: calc((100% - 90px) / 4);
}
.section-valours__container-icon {
	padding: 25px 100px;
	background-color: var(--our-team);
	border-radius: 4px;
}
.section-valours__icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.section-valours__tittle {
	color: var(--black-color);
	line-height: var(--multi-16-14);
	margin-top: 30px;
}
.section-valours__description {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: var(--multi-24-14);
	margin-top: 10px;
}

.section-mision {
	padding-top: 0px;
}
.section-mision__tittle {
	color: var(--black-color);
	font-size: 36px;
	line-height: var(--multi-42-36);
	text-align: center;
}
.section-mision__tittle__list {
	display: flex;
	margin-top: 55px;
	justify-content: space-between;
}
.section-mision__tittle__item {
	position: relative;
	overflow: hidden;
}
.section-mision__description {
	position: absolute;
	top: 224px;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	color: var(--card-team-color);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

/* clases team*/

.equipo {
	background-color: var(--our-team);
}

.equipo h2 {
	color: var(--black-color);
	font-size: 36px;
	line-height: var(--multi-42-36);
	text-align: center;
	margin-bottom: 50px;
}

.list-team {
	display: flex;
	justify-content: space-between;
}

div.card-team {
	background-color: var(--card-team-color);
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

div.card-team img {
	display: block;
}

div.info-card-team {
	padding: 30px 44px;
}

h3.collaborator-name {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: var(--multi-19-16);
	color: var(--black-color);
}

p.collaborator-profession {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: var(--multi-19-16);
	margin-top: 10px;
	margin-bottom: 16px;
}

ul.icon-info-card-team {
	display: flex;
}

svg.svg-icon-info-card-team {
	width: 44px;
	height: 44px;
	fill: var(--card-team-color);
}

svg.svg-icon-info-card-team:hover use,
svg.svg-icon-info-card-team:focus use {
	--color3: var(--card-team-color);
	--color4: var(--logo-color);
}

section.customers.section {
	padding-top: 59px;
	padding-bottom: 151px;
}

section.customers.section h2 {
	font-weight: 700;
	color: var(--black-color);
	font-size: 36px;
	line-height: var(--multi-42-36);
	text-align: center;
	margin-bottom: 44px;
}

ul.icon-customers-section {
	display: flex;
	justify-content: space-between;
}

ul.icon-customers-section li {
	padding: 14px 32px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-icon-customer);
	border-radius: 4px;
}

svg.svg-icon-customers-section {
	display: inline-block;
	width: 106px;
	height: 53px;
	stroke-width: 0;
	stroke: currentColor;
	color: var(--border-icon-customer);
	fill: currentColor;
}

.hover-icon-customers-section:hover,
.hover-icon-customers-section:focus {
	border-color: var(--logo-color);
}

.hover-icon-customers-section:hover svg,
.hover-icon-customers-section:focus svg {
	--color3: var(--logo-color);
}

/* Main portfolio */

section.section.portfolio {
	padding-top: 106px;
}

.container .filters {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.button-filters {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: var(--black-color);
	background-color: var(--our-team);
	line-height: var(--multi-26-16);
	padding: 6px 24px;
	border-radius: 4px;
	border: none;
}

.button-filters:hover,
.button-filters:focus {
	background-color: var(--logo-color);
	color: #ffffff;
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container .projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
}

.projects-card {
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
}

.projects-card:hover,
.projects-card:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

div.div-projects-card {
	position: relative;
	overflow: hidden;
}

div.div-projects-card p.overlay-card {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 149, 243, 0.9);
	top: 0;
	left: 0;
	padding: 63px 24px;
	color: var(--card-team-color);
	display: flex;
	align-items: center;
	transform: translateY(100%);
	transition: transform ease-in 250ms;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: var(--multi-28-18);
}

li.projects-card:hover p.overlay-card {
	transform: translateY(0%);
}

li.projects-card img {
	display: block;
}

div.info-card {
	padding: 20px 24px;
	max-width: 370px;
}

h3.project-tittle {
	font-size: 18px;
	color: var(--black-color);
	line-height: var(--multi-36-18);
}

.project-filter {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: var(--multi-30-16);
	margin-top: 4px;
}

/* CLASES FOOTER */

footer {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: var(--tittle-backcolor);
	color: var(--tittle-color);
	line-height: var(--multi-24-14);
}

footer div.container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact-footer {
	color: var(--contact-color);
}

.contact-footer:hover,
.contact-footer:focus {
	color: var(--logo-color);
}

ul.list-footer {
	display: flex;
	justify-content: space-between;
}

li.footer-social-networks h3 {
	margin-bottom: 20px;
}

ul.icon-list {
	display: flex;
	gap: 10px;
}

div.footer-icon svg {
	display: inline-block;
	width: 44px;
	height: 44px;
}

svg.svg-footer-icon use {
	--color3: var(--card-team-color);
	--color4: rgba(255, 255, 255, 0.1);
}

svg.svg-footer-icon:hover use,
svg.svg-footer-icon:focus use {
	--color3: var(--card-team-color);
	--color4: var(--logo-color);
}

.newsletter {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: var(--multi-16-14);
}

input.newsletter-email {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	padding-right: 101px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	font-size: 16px;
	line-height: var(--multi-20-16);
	background-color: var(--tittle-backcolor);
}

.ul-form-email {
	display: flex;
	gap: 12px;
}

div.div-button-email {
	background-color: var(--logo-color);
	color: var(--tittle-color);

	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	font-weight: 700;
	font-size: 16px;
	line-height: var(--multi-30-16);
	cursor: pointer;
}

div.div-button-email ul.list-button-email {
	display: flex;
	gap: 20px;
}

ul.list-button-email li {
	padding-top: 10px;
	padding-bottom: 8px;
}

button.button-email {
	padding-left: 39px;
	background-color: var(--logo-color);
	color: var(--tittle-color);
	border-style: none;
	border-radius: 4px;
	cursor: pointer;
}

div.div-icon-button {
	margin-right: 28px;
}

div.div-icon-button svg {
	display: inline-block;
	width: 24px;
	height: 24px;
}
