@import "./utils/variables";
@import "./utils/mixin";
@import "./components/header";
@import "./components/logo";
// @import "./components/mobileMenu";
// @import "./components/backdrop";
// @import "./components/tittleSection";
// @import "./components/valoursSection";
// @import "./components/misionSection";
// @import "./components/teamSection";
// @import "./components/customerSection";
// @import "./components/footer";
// @import "./components/filters";
// @import "./components/catalog";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black-color;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.underlined:hover::after {
    content: '';
    display: block;
    outline: 1px solid $logo-color;
}

button.underlined:hover::after {
    text-decoration: underline;
    outline: 1px solid $logo-color;
}

.p-underlined:hover {
    content: '';
    display: block;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-color: $logo-color;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-weight: 700;
    background-color: $sheet-backcolor;
    color: $text-color;
    font-size: 14px;
}