.section-customers {
    padding-top: 60px;
    padding-bottom: 60px;

    .section-customers_tittle {
            font-weight: 700;
            color: $black-color;
            font-size: 36px;
            line-height: $multi-42-36;
            text-align: center;
            margin-bottom: 44px;
        }
}
.section-customers_icon-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.section-customers_item {
    padding: 16px 52px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-icon-customer;
    border-radius: 4px;

    .section-customers_name-icon {
            display: inline-block;
            width: 106px;
            height: 60px;
            stroke-width: 0;
            stroke: currentColor;
            color: border-icon-customer;
            fill: currentColor;
        }
    
    &:hover,
    &:focus {
        border-color: $logo-color;
    }

    &:hover .section-customers_name-icon,
    &:focus .section-customers_name-icon {
        --color3: var(--logo-color);
    }
}