footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $tittle-backcolor;
    color: $tittle-color;
    line-height: $multi-24-14;
}
.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-container__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_container_description{
    margin-top: 28px;
}
.footer-container__link {
    color: $contact-color;

    &:hover,
    &:focus {
            color: $logo-color;
        }
}
.footer-container__tittle {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;
}

.logo_list li:last-child {
    color: $card-team-color;
}

.address_list {
    display: block;
    text-align: center;
}

.social-item--footer {
    gap: 10px;
}
.social-item__icon--footer {
    --color3: var(--card-team-color);
    --color4: rgba(255, 255, 255, 0.1);
}
.social-item__icon-name--footer:hover .social-item__icon--footer,
.social-item__icon-name--footer:focus .social-item__icon--footer {
    --color3: var(--card-team-color);
    --color4: var(--logo-color);
}

.footer-container__newsletter-tittle {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: $multi-16-14;
    text-align: center;
}
.footer-container__newsletter-list li:last-child {
    display: flex;
    justify-content: center;
}
.footer-container__newsletter-item {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 450px;
}
.footer-container__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 236px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: $multi-20-16;
    background-color: $tittle-backcolor;
    color: $card-team-color;
}

.container-email {
    background-color: $logo-color;
    color: $tittle-color;

    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: $multi-30-16;
    cursor: pointer;
    width: 200px;
}
.container-email__list {
    display: flex;
    gap: 20px;
}
.container-email__item {
    padding-top: 10px;
    padding-bottom: 8px;
}
.container-email__button {
    padding-left: 39px;
    background-color: $logo-color;
    color: $tittle-color;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}
.container-email__icon-name {
    display: inline-block;
    width: 24px;
    height: 24px;
}