header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-header;
}

.container--header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu {
    color: $black-color;
    line-height: $multi-16-14;
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: $logo-color;
    font-size: 26px;
    line-height: $multi-31-26;

    &--header {
            padding-top: 24px;
            padding-bottom: 25px;
        }
}

.header-list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
    margin-left: 306px;
    align-items: center;

    &--menu {
            margin-left: 93px;
        }
}
.header-list-contact {
    display: flex;
    gap: 10px;
    stroke-width: 0;
    stroke: currentColor;
    color: $text-color;
    fill: currentColor;

    &:hover,
    &:focus {
            --color5: var(--logo-color);
        }
}
.header-list-contact--messenger {
    width: 16px;
    height: 12px;
}
.header-list-contact--phone {
    width: 10px;
    height: 16px;
}
.header-list-contact__link {
    color: $text-color;
    line-height: $multi-16-14;

    &:hover,
    &:focus {
            color: $logo-color;
        }
}
.header-list__link--active,
.header-list__link:hover,
.header-list__link:focus,
.header-list__link:active {
    color: $logo-color;
}
.header-list__link--active {
    position: relative;

    &::after {
            content: '';
            position: absolute;
            bottom: -35px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $logo-color;
        }
}

